.contact:hover{
    background-color: rgb(228, 228, 228);
}

.contact:hover .contactListSettings{
    opacity: 1;
}

.archivedChatsButton:hover{
    color: rgb(177, 177, 177);
}

.configBtn:hover{
    color: rgb(95, 95, 95);
}